/*
Colors used

Background color: #fafaff
Primary color: #2B3D41
Secondary color: #4c5f6b
Ternary color #a85751

Detail color: #f1ab86
Link color #235789
*/

:root {
  --main-bg-color: #fafaff;
  --main-txt-color: #2b3d41;
  --scnd-txt-color: #4c5f6b;
  --header-color: #a85751;
  --link-color: #235789;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
    text-align: center;
}

h1 {
  font-size: 30px;
  color: var(--header-color);
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--link-color);
}

/* a:visited {*/
  /* visited link */
/*  color: var(--main-txt-color);
}*/

a:hover,
a:focus {
  text-decoration: none; /* No underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: var(--scnd-txt-color);
}

button, .button {
  /* overwrite browser defaults */
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */

  /* style button */
  background-color: var(--scnd-txt-color);
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--scnd-txt-color); /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover{
  opacity: 0.8;
}

.button-secondary {
  background-color: var(--scnd-txt-color);
}

/*Layout Styling*/
* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /*No spacing on top and bottom and auto spacing to left and right*/
  padding: 0 20px;
}

.column-3 {
  font-size: 16px;
  width: 30%;
  display: inline-block;
  margin-right: 1%;
  float: left;
  text-align: center; /* Centers text */
  vertical-align: top;
}

.navigation {
  list-style-type: none;
  padding: 0;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
}

.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}

@media all and (max-width: 500px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 50px;
  }
  h1 {
    /* Reduce font-size of heading */
    font-size: 24px;
    text-align: left;
  }
  .column-4 {
    /* Modify 4-column to 2-columns */
    width: 49%;
    margin-right: 1%;
  }
}

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.project-details{
  display: none;
}
